<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925313297084-blufsdddjfue9c4g000ci9kuc7spuqnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925313297084-blufsdddjfue9c4g000ci9kuc7spuqnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925313297084-eqg20kne0o72ik8kdj5amap3jcsshfp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWs1yZ6Vz89KcWKmmlmWh8eBU-7MKr5U4</string>
	<key>GCM_SENDER_ID</key>
	<string>925313297084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyungsnim.roomExitHintApp</string>
	<key>PROJECT_ID</key>
	<string>wemos-dd8af</string>
	<key>STORAGE_BUCKET</key>
	<string>wemos-dd8af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925313297084:ios:fa72a6fdd80255c2873eb9</string>
	<key>DATABASE_URL</key>
	<string>https://wemos-dd8af-default-rtdb.firebaseio.com</string>
</dict>
</plist>